<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Access Denied</title>
</head>
<body>
<h2>You are not authorized to view this resource.</h2>
<hr>
<a th:href="@{/}">Back to Customers</a>
</body>
</html>