<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <title>Save Customer</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/add-customer-style.css}"/>
</head>
<body>
<div id="wrapper">
    <div id="header">
        <h2>CRM - Customer Relationship Manager</h2>
    </div>
</div>
<div id="container">
    <form action="#" th:action="@{/customer/save}" th:object="${customer}" method="post">
        <input type="hidden" th:field="*{id}"/>
        <table>
            <tbody>
            <tr>
                <td><label>First Name:</label></td>
                <td><input type="text" th:field="*{firstName}"></td>
            </tr>
            <tr>
                <td><label>Last Name:</label></td>
                <td><input type="text" th:field="*{lastName}"></td>
            </tr>
            <tr>
                <td><label>Email:</label></td>
                <td><input type="text" th:field="*{email}"></td>
            </tr>
            <tr>
                <td><label></label></td>
                <td><input type="submit" value="Save" class="save"></td>
            </tr>
            </tbody>
        </table>
    </form>
    <div style="clear; both;"></div>
    <p>
        <a th:href="@{/customer/list}">Back to List</a>
    </p>
</div>
</body>
</html>
