<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
</head>
<body>
<h1>Something went wrong!</h1>
<h2>Our engineers are on it.</h2>
<a th:href="@{/}">Back to Home</a>
</body>
</html>