<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Customers</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<div id="wrapper">
    <div id="header">
        <h2>CRM - Customer Relationship Manager</h2>
    </div>
</div>
<div id="container">
    <div id="content">
        <div sec:authorize="hasAnyRole('MANAGER', 'ADMIN')">
            <input type="button" value="Add Customer" onclick="window.location.href='add'; return false;"
                   class="add-button"/>
        </div>
        <form action="#" th:action="@{/customer/search}" method="post">
            Search Customer: <input type="text" th:name="name"/>
            <input type="submit" value="Search" class="add-button">
        </form>
        <table>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <div sec:authorize="hasAnyRole('MANAGER', 'ADMIN')">
                    <th>Action</th>
                </div>
            </tr>
            <tr th:each="customer: ${customers}">
                <td th:text="${customer.firstName}"></td>
                <td th:text="${customer.lastName}"></td>
                <td th:text="${customer.email}"></td>
                <td>
                    <div style="display: inline-block" sec:authorize="hasAnyRole('MANAGER', 'ADMIN')">
                        <a th:href="@{/customer/update(id=${customer.id})}">Update</a>
                    </div>
                    <div style="display: inline-block" sec:authorize="hasRole('ADMIN')">
                        |
                        <a th:href="@{/customer/delete(id=${customer.id})}"
                           onclick="if(!(confirm('Are you sure you want to delete this customer?'))) return false">
                            Delete</a>
                    </div>
                </td>
            </tr>
        </table>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Logout"/>
        </form>
    </div>
</div>
</body>
</html>