<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration Confirmation</title>
</head>
<body>
<h2>User registered successfully!</h2>
<hr>
<a th:href="@{/login}">Login with a new user</a>
</body>
</html>