<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Reference Bootstrap files -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        .error {
            color: red
        }
    </style>
</head>
<body>
<div>
    <div id="loginbox" style="margin-top: 50px;"
         class="mainbox col-md-3 col-md-offset-2 col-sm-6 col-sm-offset-2">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">Register New User</div>
            </div>
            <div style="padding-top: 30px" class="panel-body">
                <form th:action="@{/registration/register}" th:object="${crmUser}" class="form-horizontal"
                      method="post">
                    <div class="form-group">
                        <div class="col-xs-15">
                            <div>
                                <div th:if="${registrationError != null}"
                                     th:text="${registrationError}"
                                     class="alert alert-danger col-xs-offset-1 col-xs-10">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input type="text" th:field="*{username}" placeholder="username (*)" class="form-control"/>
                        <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"
                              th:errorclass="error"></span>
                    </div>
                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input type="password" th:field="*{password}" placeholder="password (*)" class="form-control"/>
                        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                              th:errorclass="error"></span>
                    </div>
                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input type="password" th:field="*{matchingPassword}" placeholder="confirm password (*)"
                               class="form-control"/>
                        <span th:if="${#fields.hasErrors('matchingPassword')}" th:errors="*{matchingPassword}"
                              th:errorclass="error"></span>
                    </div>
                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input type="text" th:field="*{firstName}" placeholder="first name (*)" class="form-control"/>
                        <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"
                              th:errorclass="error"></span>
                    </div>
                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input type="text" th:field="*{lastName}" placeholder="last name (*)" class="form-control"/>
                        <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
                              th:errorclass="error"></span>
                    </div>
                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input type="text" th:field="*{email}" placeholder="email (*)" class="form-control"/>
                        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" th:errorclass="error"></span>
                    </div>
                    <div style="margin-bottom: 25px" class="input-group">
                        <select th:field="*{formRole}">
                            <option value="">--</option>
                            <option th:each="role : ${roles}" th:value="${role.key}" th:utext="${role.value}"></option>
                        </select>
                    </div>
                    <div style="margin-top: 10px" class="form-group">
                        <div class="col-sm-6 controls">
                            <button type="submit" class="btn btn-primary">Register</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>